<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rwws.rwserver.module.job.mapper.JobMapper">

    <resultMap id="BaseResultMap" type="com.rwws.rwserver.module.job.domain.Job">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="jobCode" column="job_code" jdbcType="VARCHAR"/>
        <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
        <result property="jobClassId" column="job_class_id" jdbcType="BIGINT"/>
        <result property="jobType" column="job_type" jdbcType="INTEGER"/>
        <result property="regionId" column="region_id" jdbcType="BIGINT"/>
        <result property="deliverEmail" column="deliver_email" jdbcType="VARCHAR"/>
        <result property="deliverWechat" column="deliver_wechat" jdbcType="VARCHAR"/>
        <result property="deliverTelegram" column="deliver_telegram" jdbcType="VARCHAR"/>
        <result property="deliverWebsite" column="deliver_website" jdbcType="VARCHAR"/>
        <result property="salaryType" column="salary_type" jdbcType="INTEGER"/>
        <result property="moneyTypeId" column="money_type_id" jdbcType="BIGINT"/>
        <result property="salaryMin" column="salary_min" jdbcType="BIGINT"/>
        <result property="salaryMax" column="salary_max" jdbcType="BIGINT"/>
        <result property="jobDescription" column="job_description" jdbcType="VARCHAR"/>
        <result property="jobDuty" column="job_duty" jdbcType="VARCHAR"/>
        <result property="jobRequirement" column="job_requirement" jdbcType="VARCHAR"/>
        <result property="companyInfo" column="company_info" jdbcType="VARCHAR"/>
        <result property="jobLabel" column="job_label" jdbcType="VARCHAR"/>
        <result property="jobStatus" column="job_status" jdbcType="INTEGER"/>
        <result property="jobPublisherId" column="job_publisher_id" jdbcType="BIGINT"/>
        <result property="jobPublishTime" column="job_publish_time" jdbcType="TIMESTAMP"/>
        <result property="latestApproveUserId" column="latest_approve_user_id" jdbcType="BIGINT"/>
        <result property="latestApproveTime" column="latest_approve_time" jdbcType="TIMESTAMP"/>
        <result property="latestApproveReason" column="latest_approve_reason" jdbcType="VARCHAR"/>
        <result property="offlineReasonId" column="offline_reason_id" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="lastModifiedBy" column="last_modified_by" jdbcType="VARCHAR"/>
        <result property="lastModifiedDate" column="last_modified_date" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,job_code,job_name,
        job_class_id,job_type,region_id,
        deliver_email,deliver_wechat,deliver_telegram,
        deliver_website,salary_type,money_type_id,
        salary_min,salary_max,job_description,
        job_duty,job_requirement,company_info,
        job_label,job_status,job_publisher_id,
        job_publish_time,latest_approve_user_id,latest_approve_time,
        latest_approve_reason,offline_reason_id,created_by,
        created_date,last_modified_by,last_modified_date
    </sql>

    <resultMap id="QueryJobsResultDTOMap" type="com.rwws.rwserver.module.job.domain.QueryJobsResultDTO">
        <result column="id" property="id"/>
        <result column="job_code" property="jobCode"/>
        <result column="job_name" property="jobName"/>
        <result column="job_class_id" property="jobClassId"/>
        <result column="jobClassChn" property="jobClassChn"/>
        <result column="jobClassEng" property="jobClassEng"/>
        <result column="job_type" property="jobType"/>
        <result column="region_id" property="regionId"/>
        <result column="regionNameChn" property="regionNameChn"/>
        <result column="regionNameEng" property="regionNameEng"/>
        <result column="deliver_website" property="deliverWebsite"/>
        <result column="salary_type" property="salaryType"/>
        <result column="money_type_id" property="moneyTypeId"/>
        <result column="moneyTypeChn" property="moneyTypeChn"/>
        <result column="moneyTypeCode" property="moneyTypeCode"/>
        <result column="salary_min" property="salaryMin"/>
        <result column="salary_max" property="salaryMax"/>
        <result column="job_description" property="jobDescription"/>
        <result column="job_duty" property="jobDuty"/>
        <result column="job_requirement" property="jobRequirement"/>
        <result column="company_info" property="companyInfo"/>
        <result column="job_label" property="jobLabel"/>
        <result column="job_status" property="jobStatus"/>
        <result column="job_publisher_id" property="jobPublisherId"/>
        <result column="jobPublisherName" property="jobPublisherName"/>
        <result column="job_publish_time" property="jobPublishTime"/>
        <result column="latest_approve_user_id" property="latestApproveUserId"/>
        <result column="latestApproveUserName" property="latestApproveUserName"/>
        <result column="latest_approve_time" property="latestApproveTime"/>
        <result column="latest_approve_reason" property="latestApproveReason"/>
        <result column="offline_reason_id" property="offlineReasonId"/>
    </resultMap>

    <select id="queryJobs" resultMap="QueryJobsResultDTOMap"
            parameterType="com.rwws.rwserver.module.job.domain.QueryJobsParamDTO">
        select j.id,job_code,job_name, job_class_id, c.job_chn as jobClassChn, c.job_eng as jobClassEng, job_type,
        region_id, r.chn_name as regionNameChn, r.eng_name as regionNameEng, deliver_website,salary_type, money_type_id,
        m.type_chn as moneyTypeChn, m.type_code as moneyTypeCode, salary_min,salary_max,job_description,
        job_duty,job_requirement,company_info, job_label,job_status, job_publisher_id, u1.display_name as
        jobPublisherName, job_publish_time, latest_approve_user_id, u2.display_name as latestApproveUserName,
        latest_approve_time, latest_approve_reason,offline_reason_id
        from rw_job j left join job_class c on j.job_class_id = c.id
        left join money_type m on j.money_type_id = m.id
        left join region r on j.region_id = r.id
        left join user u1 on j.job_publisher_id = u1.id
        left join user u2 on COALESCE(j.latest_approve_user_id,'') = u2.id
        where 1=1
        <if test="query.jobClassId!=null">AND job_class_id = #{query.jobClassId}</if>
        <if test="query.jobType!=null">AND job_type = #{query.jobType}</if>
        <if test="query.regionId!=null">AND region_id = #{query.regionId}</if>
        <if test="query.jobPublishTimeStart!=null">AND job_publish_time between #{query.jobPublishTimeStart} and
            #{query.jobPublishTimeEnd}
        </if>
        <if test="query.jobPublishTimeEnd!=null">AND job_publish_time between #{query.jobPublishTimeStart} and
            #{query.jobPublishTimeEnd}
        </if>
        <if test="query.jobPublisherId!=null">AND job_publisher_id = #{query.jobPublisherId}</if>
        <if test="query.jobCode!=null">AND job_code = #{query.jobCode}</if>
        <if test="query.jobStatus!=null">AND job_status = #{query.jobStatus}</if>
        <if test="query.keyword!=null">and (job_name like concat('%',#{query.keyword},'%')
            OR job_description like concat('%',#{query.keyword},'%')
            OR job_duty like concat('%',#{query.keyword},'%')
            OR job_requirement like concat('%',#{query.keyword},'%')
            OR job_label like concat('%',#{query.keyword},'%'))
        </if>
    </select>
</mapper>
