<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rwws.rwserver.module.job.mapper.RwJobApproveMapper">

    <resultMap id="BaseResultMap" type="com.rwws.rwserver.module.job.domain.RwJobApprove">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="jobId" column="job_id" jdbcType="BIGINT"/>
        <result property="approveUserId" column="approve_user_id" jdbcType="BIGINT"/>
        <result property="approveTime" column="approve_time" jdbcType="TIMESTAMP"/>
        <result property="approveStatus" column="approve_status" jdbcType="INTEGER"/>
        <result property="approveReason" column="approve_reason" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="lastModifiedBy" column="last_modified_by" jdbcType="VARCHAR"/>
        <result property="lastModifiedDate" column="last_modified_date" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,job_id,approve_user_id,
        approve_time,approve_status,approve_reason,
        created_by,created_date,last_modified_by,
        last_modified_date
    </sql>
</mapper>
